name: Pipeline deploy API PROD on Render
on:
  push:
    branches: ["PROD"]
  pull_request:
    branches: ["PROD"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - uses: johnbeynon/render-deploy-action@v0.0.8
      name: Deploy Application
      with:
        service-id: 'ckrbudprfc9c73e65fog?key=jXu2sKtJ0Nw'
        api-key: 'rnd_BwbI2mNR0MqEgcTo5PKPHlbCn7CL'
