name: Pipeline deploy API PROD on Render
on:
  push:
    branches: ["PROD"]
  pull_request:
    branches: ["PROD"]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy Application
      uses: johnbeynon/render-deploy-action@v0.0.8
      with:
        service-id: srv-ckrbudprfc9c73e65fog?key=jXu2sKtJ0Nw
        api-key: rnd_F10sRBZp9Mor9Q3EDYCPy8YgsDit
